* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --text-color: #111111;
  --primary-color: #0077ff;
  --gray-bg: #ffffff;
  --shadow-toggle: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.dark {
  --bg-color: #111111;
  --text-color: #ffffff;
  --primary-color: #00aaff;
  --gray-bg: gray;
  --shadow-toggle: 0 0 10px rgba(255, 255, 255, 0.1);
}


body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
  transition: background-color 0.3s, color 0.3s;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px; /* adjust based on navbar height */
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}
